.header {
	min-width: 100%;
	padding-top: 1rem;
	margin-bottom: 4rem;
	
	@media (max-width: 768px) { 
		display: none;
	}
}

.main-nav {
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&__item {
		padding: 2.5rem;
		color: var(--text-color);
		font-family: var(--font-main);
		font-size: var(--fs-main);
		font-weight: var(--fw-normal);

		a{
			color: var(--text-color);

			&:hover{
				color: #7f7f7f;
			}
		}
	}
}